@model OpenQbit.Institute.Common.Models.ParentInformation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ParentInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MotherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryContactNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParentInformationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
