@model IEnumerable<OpenQbit.Institute.Common.Models.ParentInformation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MotherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryContactNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MotherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryContactNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParentInformationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParentInformationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParentInformationId })
        </td>
    </tr>
}

</table>
