@model IEnumerable<OpenQbit.Institute.Common.Models.BatchEnrolment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Batch.BatchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeDuration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Batch.BatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeDuration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BatchEnrolmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BatchEnrolmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BatchEnrolmentId })
        </td>
    </tr>
}

</table>
